* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  height: 24rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  width:100%;
height:100%;
transition: 0.2s all ease-in-out;
border-radius: 0.5rem;
}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  filter: brightness(0.5);
  transform: scale(1.2);
  border-radius: 0.5rem;
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 8px;
  align-self: center;
  text-align: center;
  color: white;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/hero.jpg");
  height: 50vh;
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center; 

  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
}


.hero-subheading {
  font-size: 24px;
  font-weight: 100;

}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height:20rem;
border-radius: 1rem;
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height: 100%;
  overflow: hidden;
object-fit: cover;
}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter: brightness(0.5);
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */


.grid-container {
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


@media only screen and (min-width: 992px) {
.grid-container {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
  grid-template-rows: 50% 50%;
  grid-template-columns: 65% 32% ;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
}

.c1-item {
  grid-row-start: 1;
  grid-row-end: 3;
}

.c2-item {
  grid-row-start: 1;
  grid-column-start: 2;
}
.c3-item {
  grid-row-start: 2;
  grid-column-start: 2;
}
.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  margin-bottom: 1rem;
}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 1rem;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter: brightness(0.5);
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  #reservation {
    position: fixed;
    right: 0rem;
  }
}
